.cmodal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.true {
  overflow: hidden;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}


#lpModel {
  display: block;
}

#disclosure a {
  color: white;
}

.cmodal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width: 0px) {
  .contact {
    font-size: 10px;
  }

  .title {
    font-size: 20px;
  }

  .pk {
    max-height: 100px;
  }

  body {
    font-size: 100%;
    line-height: 1.4;
  }

  .menu .bgclr3 .menu-head:link,
  .menu .bgclr3 .menu-head:visited {
    color: black;
  }

  .menu .bgclr3:hover,
  .mobile-menu .bgclr3:hover,
  .menu .bgclr3 .bgclr3 {
    background: #706c6c;
  }

  .mobile-menu li a,
  .mobile-menu li i {
    color: black;
  }

  .bgclr7 {
    background: #706c6c;
  }

  .cmodal-content {
    width: 80%;
  }
}

@media only screen and (min-width: 591px) {
  .contact {
    font-size: 15px;
  }

  .title {
    font-size: 25px;
  }

  .pk {
    max-height: 150px;
  }

  body {
    font-size: 100%;
    line-height: 1.4;
  }
}

@media only screen and (min-width: 768px) {
  .contact {
    font-size: 20px;
  }

  .title {
    font-size: 30px;
  }

  .pk {
    max-height: 200px;
  }

  body {
    font-size: 100%;
    line-height: 1.4;
  }

  .sub-menu {
    width: auto;
    left: auto;
  }

  .sub-menu div div {
    width: auto;
    min-height: 0px;
  }

  .cmodal-content {
    width: 60%;
  }
}

@media only screen and (min-width: 990px) {
  .container.bgclr3 {
    width: auto;
  }

  .sub-menu {
    width: auto;
    left: auto;
  }

  .sub-menu div div {
    width: auto;
    min-height: 0px;
  }

  .cmodal-content {
    width: 40%;
  }
}

#custombanner {
  height: 120px;
  position: absolute;
  width: 100%;
}

@media screen and (max-width: 767px) {
  #custombanner {
    height: 48px;
    margin-left: 48px;
  }
}

/* to implement sticky form*/
@media only screen and (min-width: 768px) {
  .main {
    overflow: unset;
  }

  .main aside,
  .main article {
    padding-bottom: unset;
    margin-bottom: unset;
  }

  .main aside {
    position: sticky;
    top: 50px;
  }
}

/* Mautic form and Oauth button styling*/
.mauticform-button-wrapper,
.mauticform-button {
  margin: auto;
  width: 240px !important;
}

.googleSignInButton {
  width: 240px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 0px;
  font-weight: bold;
}

.mauticform-message {
  text-align: center;
  font-weight: bold;
}

/* UserID DWC on Report Page */

#dwc_ucid {
  display: none;
}

/* For ShareThis's Sticky Share component */

.st-sticky-share-buttons {
  display: block !important;
  top: 270px !important;
  bottom: unset !important;
  right: unset !important;
  width: auto !important;
}

.st-sticky-share-buttons .st-total {
  padding: 4px 0px !important;
}

.st-sticky-share-buttons>div {
  clear: left !important;
  float: left !important;
}

.st-btns>.st-btn {
  display: none !important;
}

.st-btn[data-network="facebook"],
.st-btn[data-network="messenger"],
.st-btn[data-network="pinterest"],
.st-btn[data-network="twitter"],
.st-btn[data-network="linkedin"],
.st-btn[data-network="whatsapp"] {
  display: inline-block !important;
}

.st-logo,
.st-disclaimer {
  display: none !important;
}

.st-sticky-share-buttons .st-toggle {
  display: none !important;
}

.st-sticky-share-buttons .st-btn[data-network="sharethis"] {
  background-color: maroon !important;
}

/* For CTA button */


.button {
  background: #7bad42;
  font-family: aria-label;
  font-size: 20px;
  display: inline-block;
  width: 320px;
  height: 40px;
  padding: 5px 0px;
  text-align: center;
  border-radius: 20px;
  color: white !important;
  font-weight: bold;
}

.icon {
  padding-left: 10px;
}

.cta {
  margin: 5px auto;
  width: 320px;
}

.cta_button {
  display: flex;
  justify-content: center;
  padding: 5px 0px;
  text-align: center;
  border-radius: 20px;
  color: white !important;
  font-weight: bold;
  background: #7bad42;
  font-family: aria-label;
  font-size: 20px;
}

.cta_icon {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.cta_span {
  display: inline-block;
  width: 320px;
  text-align: center;
  margin-top: 10px;
}

@media only screen and (min-width: 992px) {

  .cta,
  .cta_button,
  .cta_span {
    max-width: 320px;
  }
}

/* Styling for bullet list in article section */

article ul {
  margin-left: 15px;
}

article ul li {
  font-size: 18px;
}

/* Styling to fix the menu issue with Bootstrap CSS */

nav>ul.container,
.sub-menu>.container {
  max-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}