.usp div {
    font-size: 7vw !important;
    color: #ffff00;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 1.5));
}

.banner {
    width: 100%;
    height: 270px;
    object-fit: cover;
    object-position: left;
}

.animatedBanner {
    height: 270px;
    width: 100vw;
    object-fit: cover;
    object-position: center;
    -webkit-animation: banner 5s infinite;
    animation: banner 5s infinite;
}

.praveenImg {
    height: 270px;
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1;
}

.bannerTextContainer {
    width: auto;
    flex: 1 1 auto;
    text-align: center;
}