h3 {
    color: blue;
}

p {
    font-size: 18px;
}

a {
    color: red;
}

@media (orientation: landscape) {
    #video1 {
        width: 133vh;
        height: 75vh;
    }
}

@media (orientation: portrait) {
    #video1 {
        width: 100vw;
        height: 57vw;
    }
}